.desktop-banner-img, .mobile-banner-img{
    width:100%;
}

.hero-banner{
    position: relative;
}

.hero-banner > a{
    display:flex;
}

.hero__title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    color:#fff;
    font-size: 2.2rem;
    text-align: center;
}

@media only screen and (max-width: 549px) { 
  .desktop-banner-img, .mobile-banner-img{
    width: 100%;
    height: auto !important;
  } 
  img.desktop-banner-img{
      display:none;
  }
}

@media only screen and (min-width: 550px) { 
  img.desktop-banner-img{
      display:block;
  }
  img.mobile-banner-img{
      display:none;
  }
}