.why-watr{
    background-color: #fff;
}
.why-watr p {
    margin: 0;
}
.why-watr-title{
    margin: 0;
    text-align: center;
}
.title-jt-center{
    justify-content: center;
}

.main-carousel{
    height: 150px;
    padding: 0 20px;
    margin-top: 20px;
}
.carousel-cell{
    margin:10px;
    height: 95%;
}
.carousel-content{  
    text-align: center;
    max-width: 200px;
}
.why-watr_image{
    margin: 10px 0;
    border-radius: 100%;
}

.flickity-page-dots {
    bottom: 0px !important;
    display: none;
  }




